<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.brave.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.brave.entity.SysUser">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="dept_id" property="deptId" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="is_lock" property="isLock" />
        <result column="Is_online" property="isOnline" />
        <result column="del_state" property="delState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        user_name, pass_word, phone, email, sex, birthday, dept_id, avatar_url, is_lock, Is_online, del_state
    </sql>

</mapper>
