<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.brave.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.brave.entity.SysMenu">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="route_name" property="routeName" />
        <result column="permission" property="permission" />
        <result column="route_path" property="routePath" />
        <result column="component" property="component" />
        <result column="icon" property="icon" />
        <result column="sort" property="sort" />
        <result column="menu_status" property="menuStatus" />
        <result column="del_state" property="delState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        menu_name, parent_id, route_name, permission, route_path, component, icon, sort, menu_status, del_state
    </sql>

</mapper>
