<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>添加新用户</title>
    </head>
    <body>
        <div style="text-align: center;">
            <img src="cid:brave">
        </div>
        <div style="text-align: center;">
            <span style="font-size: 16px; font-family: 'Courier New', Courier; color: #464646; line-height: 150%;">
                <strong>您好 <span th:text="${userName}"></span>, 感谢您加入我们。</strong>
            </span>
            <br>
            <span style="font-size: 16px; font-family: 'Courier New', Courier; color: #464646; line-height: 150%;">
                <strong>Hi <span th:text="${userName}"></span>. Thanks for joining us.</strong>
            </span>
            <br>
            <span style="font-size: 14px; font-family: 'Courier New', Courier; color: #464646; line-height: 200%;">
                您已是Brave尊贵的成员，以下是您的初始登录信息：
            </span>
            <div style="width: 10%; margin: auto; text-align: left;border: 10px red;">
                <span style="font-size: 14px; font-family: 'Courier New', Courier; color: #464646; line-height: 200%;">
                    账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<span th:text="${phone}"></span>
                </span>
                <br>
                <span style="font-size: 14px; font-family: 'Courier New', Courier; color: #464646; line-height: 200%;">
                    (初始)密码：<span th:text="${password}"></span>
                </span>
            </div>
            <span style="font-size: 14px; font-family: 'Courier New', Courier; color: #464646; line-height: 200%;">
                请尽快登陆系统修改密码，如无法尽快修改密码请不要想他人透露您得初始密码。
            </span>
        </div>
        <div style="width: 40%; margin: auto; text-align: center; background-color: rgb(60, 60, 61);">
            <span style="font-size: 20px; font-family: 'Courier New', Courier; color: #ffffff; line-height: 150%;">
                @Brave is an excellent and efficient management system!
            </span>
            <br>
            <span style="font-size: 14px; font-family: 'Courier New', Courier; color: #ffffff; line-height: 150%;">
                — Brave, Good helper at work.
            </span>
        </div>
        <div style="text-align: center;">
            <span>此电子邮件地址无法接收回复。如需更多信息，请访问<a href=""> Brave 帐号帮助中心</a>。</span>
            <br>
			<span>© Brave Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, ZN_CH</span>
        </div>
    </body>
</html> 